body {
  background-color: #2F3540;
}

.App {
  text-align: center;
  
}

.input-group{
  width: 60%;
  margin-top: 30px;
}

.card{
  z-index: 1;
  max-width: 80%;
  position: relative; /* Añadido para posicionar elementos hijos relativos a este contenedor */
  margin: 0 auto; /* Centrar la tarjeta */
}



.card-date{
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  margin-top: 10px;
}
.card-title{
  position: absolute;
  top: 50px; /* Ajusta la posición según sea necesario */
  left: 0;
  padding: 10px;
}


.card-temp{
  position: absolute;
  top: 100px; /* Ajusta la posición según sea necesario */
  left: 0;
  padding-left: 20px;
  font-size: 50px;
}

.card-desc{
  position: absolute;
  top: 200px; /* Ajusta la posición según sea necesario */
  left: 0;
  padding-left: 20px;
}

